@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,700&display=swap");
/*------------------------VARIABLES------------------------*/
:root {
  --electric-color: #5cdb95;
  --pink-color: #f64c72;
  --blue-color: #2f2fa2;
  --grey-color: #f6f6f6;
  --border-radius: 10px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  background-color: var(--grey-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*------------------------NAV SECTION------------------------*/
header {
  position: fixed;
  width: 90%;
}

.nav-container {
  background: var(--blue-color);
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em;
}

.nav-container .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav-logo .svg-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2em;
  padding-right: 0.5em;
}

.nav-container .nav-logo a {
  font-size: 1.6em;
  font-weight: bold;
}

.nav-container a {
  color: white;
}

.nav-container ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 0.8em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
}

.nav-container ul li button {
  padding-left: 0.8em;
}

.nav-container ul li .nav-bell-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  outline: none;
  color: white;
  border: none;
}

.nav-container ul li .nav-bell-btn .nav-bell-notification {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.4em;
  height: 1.4em;
  background-color: var(--pink-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.nav-container ul li .nav-dropdown {
  position: absolute;
  top: 55px;
  width: 100px;
  right: -20px;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  background-color: var(--blue-color);
  -webkit-box-shadow: 2px 2px 2px 2px #888888;
          box-shadow: 2px 2px 2px 2px #888888;
  padding: 1em;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.nav-container ul li .nav-dropdown .dropdown-item {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius);
  -webkit-transition: background 300ms;
  transition: background 300ms;
  padding: 0.5em;
}

.nav-container ul li .nav-dropdown .dropdown-item:hover {
  background-color: #7373f1;
}

.nav-container ul li .nav-input {
  display: none;
}

.nav-container ul li .search-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 1.2em;
}

.nav-container ul li .fa-chevron-down {
  padding-left: 0.2em;
  font-size: 0.7em;
}

.nav-bell-svg {
  font-size: 1.5em;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.nav-bell-svg:hover {
  color: var(--electric-color);
  cursor: pointer;
}

.nav-user:hover {
  color: var(--electric-color);
  cursor: pointer;
}

.nav-user {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size: 1.3em;
}

/*------------------------SIDEBAR SECTION------------------------*/
.sidebar {
  background-color: white;
  margin-top: 5em;
  width: 12.4em;
  height: 100vh;
  left: -13em;
  position: fixed;
  color: black;
  padding: 1em;
  border-right: 1px solid #5f5d5d;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.sidebar ul {
  padding-top: 2em;
}

.sidebar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 1em;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}

.sidebar ul li i {
  padding-right: 1em;
  padding-top: 0.25em;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
}

.sidebar ul li:hover {
  background-color: var(--grey-color);
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-open {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid var(--blue-color);
  background-color: var(--grey-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  top: px;
  left: 220px;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}

.sidebar-open i {
  padding-right: 0.1em;
}

.sidebar-open:hover {
  background-color: var(--blue-color);
  color: white;
  cursor: pointer;
}

.sidebar.active {
  left: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

/*------------------------DASHBOARD SECTION------------------------*/
.dashboard {
  margin: 5em 0 0 15.4em;
  padding: 4em;
  position: fixed;
  background-color: var(--grey-color);
  -webkit-transition: margin-left 0.2s ease-in;
  transition: margin-left 0.2s ease-in;
  height: 90vh;
}

.dashboard.active {
  margin-left: 5em;
}

@media only screen and (min-width: 645px) {
  header {
    width: 92%;
  }
}

@media only screen and (min-width: 800px) {
  header {
    width: 94%;
  }
  .nav-container ul li .nav-input {
    display: inline-block;
    position: relative;
  }
  .nav-container ul li .search-btn {
    color: black;
    position: relative;
    left: -9.5em;
    top: 0.19em;
  }
}

@media only screen and (min-width: 1075px) {
  header {
    width: 96%;
  }
}

@media only screen and (min-width: 1600px) {
  header {
    width: 97%;
  }
}
/*# sourceMappingURL=main.css.map */