@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,700&display=swap");

/*------------------------VARIABLES------------------------*/
:root {
  --electric-color: #5cdb95;
  --pink-color: #f64c72;
  --blue-color: #2f2fa2;
  --grey-color: #f6f6f6;
  --grey-dark-color: #707070;
  --border-radius: 10px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  background-color: var(--grey-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
/*------------------------NAV SECTION------------------------*/
header {
  position: fixed;
  width: 90%;
}
.nav-container {
  background: var(--blue-color);
  height: 3em;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;

  .nav-logo {
    display: flex;
    align-items: center;

    .svg-logo {
      display: flex;
      width: 2em;
      padding-right: 0.5em;
    }
    a {
      font-size: 1.6em;
      font-weight: bold;
    }
  }

  a {
    color: white;
  }

  ul {
    color: white;
    display: flex;

    li {
      display: flex;
      padding: 0 0 0 0.8em;
      justify-content: center;
      align-items: center;
      place-content: center;
      button {
        padding-left: 0.8em;
      }
      .nav-bell-btn {
        position: relative;
        display: flex;
        background-color: transparent;
        outline: none;
        color: white;
        border: none;

        .nav-bell-notification {
          position: absolute;
          top: -10px;
          right: -10px;
          width: 1.4em;
          height: 1.4em;
          background-color: var(--pink-color);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      }
      .nav-dropdown {
        position: absolute;
        top: 55px;
        width: 100px;
        right: -20px;
        transform: translateX(-25%);
        background-color: var(--blue-color);
        box-shadow: 2px 2px 2px 2px #888888;
        padding: 1em;
        overflow: hidden;

        border-radius: var(--border-radius);

        .dropdown-item {
          height: 20px;
          display: flex;
          align-items: center;
          border-radius: var(--border-radius);
          transition: background 300ms;
          padding: 0.5em;
        }
        .dropdown-item:hover {
          background-color: rgb(115, 115, 241);
        }
      }
      .nav-input {
        display: none;
      }
      .search-btn {
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        font-size: 1.1em;
      }
      .fa-chevron-down {
        padding-left: 0.2em;
        font-size: 0.7em;
      }
    }
  }
}

.nav-bell-svg {
  font-size: 1.5em;
  transition: color 300ms;
}
.nav-bell-svg:hover {
  color: var(--electric-color);
  cursor: pointer;
}
.nav-user:hover {
  color: var(--electric-color);
  cursor: pointer;
}
.nav-user {
  transition: color 300ms;
  font-size: 1.3em;
}

/*------------------------SIDEBAR SECTION------------------------*/

.sidebar {
  background-color: white;
  margin-top: 5em;
  width: 12.4em;
  height: 100vh;
  left: -13em;
  position: fixed;
  color: black;
  padding: 1em;
  border-right: 1px solid rgb(95, 93, 93);
  transition: 300ms;

  ul {
    padding-top: 2em;
    li {
      display: flex;
      text-align: center;
      padding: 1em;
      transition: background 300ms;

      i {
        padding-right: 1em;
        padding-top: 0.25em;
      }

      a {
        color: black;
        text-decoration: none;
      }
    }
    li:hover {
      background-color: var(--grey-color);
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
.sidebar-open {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid var(--blue-color);
  background-color: var(--grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: px;
  left: 220px;
  transition: background 300ms;
  i {
    padding-right: 0.1em;
  }
}
.sidebar-open:hover {
  background-color: var(--blue-color);
  color: white;
  cursor: pointer;
}

.sidebar.active {
  left: 0;
  transition: 300ms;
}
/*------------------------DASHBOARD SECTION margin: 0em 0 0 15em;
  padding: 8em 8em 8em 4em;
  transition: margin-left 0.2s ease-in;
  height: 90vh;
  width: 78%;------------------------*/

.main {
  margin: 0em 0 0 0em;
  padding: 8em 0 8em 4em;
  transition: margin-left 0.2s ease-in;
  height: 90vh;
  width: 80%;
}

.main.active {
  margin-left: 2em;
}

.dashboard-box {
  margin: 4em 0 0 0;
  border: 1px solid var(--grey-dark-color);
  width: 100%;
  padding: 8em 0;
  border-radius: 8px;
  background-color: white;
}
.dashboard-diagrams {
  display: grid;

  margin: 0em 0 2em 0;

  .dashboard-box-sm {
    border: 1px solid var(--grey-dark-color);
    background-color: white;
    width: 100%;
    padding: 4em 0;
    border-radius: 8px;
    margin-top: 2em;
  }
}

@media only screen and (min-width: 645px) {
  header {
    width: 92%;
  }
  .main {
    width: 85%;
  }
}
@media only screen and (min-width: 800px) {
  header {
    width: 94%;
  }
  .nav-container {
    ul {
      li {
        .nav-input {
          display: inline-block;
          position: relative;
        }
        .search-btn {
          font-size: 1em;
          color: black;
          position: relative;
          left: -11.6em;
          top: 0.18em;
        }
      }
    }
  }

  .main {
    width: 86%;
  }

  .main.active {
    margin-left: 2em;
  }

  .dashboard-box {
    margin: 8em 0 0 0;
    border: 1px solid var(--grey-dark-color);
    width: 100%;
    padding: 8em 0;
    border-radius: 8px;
    background-color: white;
  }
  .dashboard-diagrams {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;

    .dashboard-box-sm {
      border: 1px solid var(--grey-dark-color);
      background-color: white;
      width: 27%;
      padding: 5em 1em;
      border-radius: 8px;
    }
  }
}
@media only screen and (min-width: 1075px) {
  header {
    width: 96%;
  }
  .main {
    margin: 0em 0 0 15em;
    padding: 8em 8em 8em 4em;
    transition: margin-left 0.2s ease-in;
    height: 90vh;
    width: 90%;
  }

  .main.active {
    margin-left: 2em;
  }

  .dashboard-box {
    margin: 8em 0 0 0;
    border: 1px solid var(--grey-dark-color);
    width: 100%;
    padding: 8em 0;
    border-radius: 8px;
    background-color: white;
  }
  .dashboard-diagrams {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;

    .dashboard-box-sm {
      border: 1px solid var(--grey-dark-color);
      background-color: white;
      width: 29%;
      padding: 6em 1em;
      border-radius: 8px;
    }
  }
}
@media only screen and (min-width: 1600px) {
  header {
    width: 97%;
  }
  .main {
    margin: 0em 0 0 15em;
    padding: 8em 8em 8em 4em;
    transition: margin-left 0.2s ease-in;
    height: 90vh;
    width: 94%;
  }
}
