@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,700&display=swap");
/*------------------------VARIABLES------------------------*/
:root {
  --electric-color: #5cdb95;
  --pink-color: #f64c72;
  --blue-color: #2f2fa2;
  --grey-color: #f6f6f6;
  --grey-dark-color: #707070;
  --border-radius: 10px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  background-color: var(--grey-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*------------------------NAV SECTION------------------------*/
.nav-container {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header {
  background: var(--blue-color);
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em;
}

header .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-logo .svg-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2em;
  padding-right: 0.5em;
}

header .nav-logo a {
  font-size: 1.6em;
  font-weight: bold;
}

header a {
  color: white;
}

header ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 0.8em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
}

header ul li button {
  padding-left: 0.8em;
}

header ul li .nav-bell-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  outline: none;
  color: white;
  border: none;
}

header ul li .nav-bell-btn .nav-bell-notification {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.4em;
  height: 1.4em;
  background-color: var(--pink-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

header ul li .nav-dropdown {
  position: absolute;
  top: 55px;
  width: 100px;
  right: -20px;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  background-color: var(--blue-color);
  -webkit-box-shadow: 2px 2px 2px 2px #888888;
          box-shadow: 2px 2px 2px 2px #888888;
  padding: 1em;
  overflow: hidden;
  border-radius: var(--border-radius);
}

header ul li .nav-dropdown .dropdown-item {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius);
  -webkit-transition: background 300ms;
  transition: background 300ms;
  padding: 0.5em;
}

header ul li .nav-dropdown .dropdown-item:hover {
  background-color: #7373f1;
}

header ul li .nav-input {
  display: none;
}

header ul li .search-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 1.1em;
}

header ul li .fa-chevron-down {
  padding-left: 0.2em;
  font-size: 0.7em;
}

.nav-bell-svg {
  font-size: 1.5em;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.nav-bell-svg:hover {
  color: var(--electric-color);
  cursor: pointer;
}

.nav-user:hover {
  color: var(--electric-color);
  cursor: pointer;
}

.nav-user {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size: 1.3em;
}

/*------------------------SIDEBAR SECTION------------------------*/
.sidebar {
  background-color: white;
  margin-top: 5em;
  width: 12.4em;
  height: 90vh;
  left: -13em;
  position: relative;
  color: black;
  padding: 1em;
  border-right: 1px solid #5f5d5d;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.sidebar ul {
  padding-top: 2em;
}

.sidebar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 1em;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}

.sidebar ul li i {
  padding-right: 1em;
  padding-top: 0.25em;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
}

.sidebar ul li:hover,
.sidebar ul li:active {
  background-color: var(--grey-color);
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-open {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid var(--blue-color);
  background-color: var(--grey-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  top: px;
  left: 220px;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}

.sidebar-open i {
  padding-right: 0.1em;
}

.sidebar-open:hover {
  background-color: var(--blue-color);
  color: white;
  cursor: pointer;
}

.sidebar.active {
  left: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

/*------------------------DASHBOARD SECTION ------------------------*/
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.main {
  -webkit-transition: margin-left 0.2s ease-in;
  transition: margin-left 0.2s ease-in;
  width: 80%;
  padding: 8rem 0 8rem 4rem;
  left: 10rem;
  z-index: -1;
}

.main.active {
  margin-left: 2em;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  margin: 4em 0 0 0;
  row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.dashboard-box {
  grid-column: 1/-1;
  border: 1px solid var(--grey-dark-color);
  padding: 8em 0;
  border-radius: 8px;
  background-color: white;
}

.dashboard-box-sm {
  border: 1px solid var(--grey-dark-color);
  background-color: white;
  padding: 4rem 0;
  border-radius: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (min-width: 800px) {
  header ul li .nav-input {
    display: inline;
    position: relative;
    padding-left: 1.5em;
  }
  header ul li .search-btn {
    font-size: 0.95rem;
    color: black;
    position: absolute;
    right: 21.9rem;
    top: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */